@import "count/sidebar__count.css";
@import "line/sidebar__line.css";
@import "filter/sidebar__filter.css";
@import "title/sidebar__title.css";
@import "list/sidebar__list.css";
@import "range/sidebar__range.css";
@import "number-box/sidebar__number-box.css";
@import "number/sidebar__number.css";
@import "list-item/sidebar__list-item.css";

.sidebar {
    padding-right: 10px;
    border-right-width: 1px;
    width: 25%;
}