/*styles for header*/
@import "header/header.css";
@import "header/logo/header__logo.css";
@import "header/links/header__links.css";
@import "header/link/header__link.css";
@import "header/link/@type/header__link_type_active.css";

/*styles for lead*/
@import "lead/lead.css";
@import "lead/title/lead__title.css";
@import "lead/subtitle/lead__subtitle.css";
@import "lead/img/lead__img.css";
@import "lead/caption/lead__caption.css";

/*styles for intro*/
@import "intro/intro.css";
@import "intro/title/intro__title.css";
@import "intro/text/intro__text.css";
@import "intro/list/intro__list.css";

/*styles for photo*/
@import "photo/photo.css";
@import "photo/item/photo__item.css";

/*styles for place*/
@import "place/place.css";
@import "place/card/place__card.css";
@import "place/title/place__title.css";
@import "place/img/place__img.css";
@import "place/web/place__web.css";
@import "place/url/place__url.css";
@import "place/link/place__link.css";
@import "place/text/place__text.css";
@import "place/paragraph/place__paragraph.css";

/*styles for cover*/
@import "cover/cover.css";
@import "cover/content/cover__content.css";
@import "cover/title/cover__title.css";
@import "cover/subtitle/cover__subtitle.css";
@import "cover/img/cover__img.css";
@import "cover/overlay/cover__overlay.css";

/*styles for footer*/
@import "footer/footer.css";
@import "footer/links/footer__links.css";
@import "footer/link/footer__link.css";
@import "footer/copyright/footer__copyright.css";

/* --modifiers-- */
/*@fonts*/
@import "fonts/fonts.css";

@import "modifiers/font-size/font-size_xxl.css";
@import "modifiers/font-size/font-size_xl.css";
@import "modifiers/font-size/font-size_l.css";
@import "modifiers/font-size/font-size_m.css";
@import "modifiers/font-size/font-size_s.css";
@import "modifiers/font-size/font-size__xs.css";
@import "modifiers/font-size/font-size_list.css";
@import "modifiers/font-size/font-size_place-title.css";

@import "modifiers/font-weight/font-weight_bold.css";
@import "modifiers/font-weight/font-weight_extra-bold.css";
@import "modifiers/font-weight/font-weight_normal.css";

.page {
    padding: 0;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: Inter, 'inter', serif;
    color: white;
}