@import "container/edit-popup__container.css";
@import "modal/edit-popup__modal.css";
@import "image-upload/edit-popup__image-upload.css";
@import "title-input/edit-popup__title-input.css";
@import "form-group/edit-popup__form-group.css";
@import "select-container/edit-popup__select-container.css";
@import "description/edit-popup__description.css";
@import "link-input/edit-popup__link-input.css";
@import "form-row/edit-popup__form-row.css";
@import "tags-container/edit-popup__tags-container.css";
@import "price-group/edit-popup__price-group.css";
@import "side-buttons/edit-popup__side-buttons.css";

.edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}