@import "actions/show-popup__actions.css";
@import "icon-btn/show-popup__icon-btn.css";
@import "popup-content/show-popup__popup-content.css";
@import "popup-image/show-popup__popup-image.css";
@import "popup-title/show-popup__popup-title.css";
@import "popup-row/show-popup__popup-row.css";
@import "label/show-popup__label.css";
@import "pill/show-popup__pill.css";
@import "description/show-popup__description.css";
@import "line/show-popup__link.css";
@import "footer/show-popup__footer.css";
@import "tags/show-popup__tags.css";
@import "price/show-popup__price.css";

.show-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 600px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 26px;
    overflow: visible;

}